@model BumbleBeeWebApp.Models.Donor

@{
    ViewData["Title"] = "Donor Profile";
}
<link rel="stylesheet" type="text/css" href="~/css/accounts.css" />
<h1 class="mb-4 text-black">Donor Profile</h1>

@if (Model != null)
{
    <div class="card shadow p-4 mb-4">
        <h2 class="text-black">@Model.DonorName</h2>
        <p><strong>South Africa ID:</strong> @Model.SouthAfricaId</p>
        <p><strong>Tax Number:</strong> @Model.TaxNumber</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No donor information found.
    </div>
}

